@font-face {
  font-family: 'Modern Era';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/css/ModernEra-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: italic;
  font-weight: 400;
  src: url('../../static/css/ModernEra-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: normal;
  font-weight: 500;
  src: url('../../static/css/ModernEra-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: italic;
  font-weight: 500;
  src: url('../../static/css/ModernEra-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: normal;
  font-weight: 700;
  src: url('../../static/css/ModernEra-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: italic;
  font-weight: 700;
  src: url('../../static/css/ModernEra-ExtraBoldItalic.ttf') format('truetype');
}

:root {
  --ifm-color-primary: #6100FF;
  --ifm-color-primary-dark: #512DA8;
  --ifm-color-primary-darker: #4527A0;
  --ifm-color-primary-darkest: #311B92;
  --ifm-color-primary-light: #9575CD;
  --ifm-color-primary-lighter: #B39DDB;
  --ifm-color-primary-lightest: #D1C4E9;
  --ifm-code-font-size: 95%;
}

html {
  font-family: 'Modern Era', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 1.5;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

article, p, ul, li {
  max-width: 40rem;
}

.hero__subtitle {
  margin-left: auto;
  margin-right: auto;
}

.heroSubtitle {
  margin-left: auto;
  margin-right: auto;
}
